*{margin: 0px;padding: 0px; font-family: "Microsoft YaHei", 微软雅黑;  }
body{
    background: #FBFBFB;
}
.doctorList{
    border-bottom: 1px solid #e2e2e2;
    padding: 12px 0 4px 12px;
    float: left;
    width: calc(100% - 16px);
}
/*.picture{
    width: 60px;
    height: 60px;
    border-radius: 60px 60px;
}*/
.doctorList img{
    width: 80px;
    height: 80px;
    border-radius: 80px 80px;
}
/*.leave{
    position: absolute;
    top: 52px;
    left: 42px;
    display: block;
    width: 30px;
    height: 17px;
    background:  #2872b7;
    border-radius: 9px ;
    padding: 2px 2px 2px 5px;
    font-size: 13px;
    color:#FFFFFF;

}*/
.message{
    width: 72%;
    float: right;
}
.office{
    float: left;
    width: 99%;
}
.touxiang{
    width: 68px;
   /* padding-top: 6px;*/
    float: left;
}
h2{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    display: inline-block;
    float: left;
}
.message a{
    display: inline-block;
    font-size: 14px;
    float: left;
    margin: 4px 0 0 10px;
}
span{
    float: left;
    font-size: 15px;
    color: #e2e2e2;
    line-height: 31px;
    overflow: hidden;

}